.gender_parent {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.gender_select {
  width: 100%;
  text-align: left;
}

.input-group-addon {
  width: auto;
  margin: auto;
  display: table-cell;
}

.birthday {
  margin-bottom: 20px;
  text-align: left;
}
.birthday_select, label {
  text-align: left;
}

#error_explanation {
  h2 {
    text-align: center;
    background-color: transparent;
    color: #a94442;
    font-weight: bold;
  }
}
