.gender_parent {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.gender_select {
  width: 100%;
  text-align: left;
}

.label {
  margin: auto;
  width: auto;
  display: table-cell;
}

.radio_button {
  width: auto;
  margin: auto;
  display: table-cell;
}

.birthday {
  margin-bottom: 20px;
  text-align: left;
}
.birthday_select {
  text-align: left;
}
